[submodule "www/owid-js"]
	path = www/owid-js
	url = https://github.com/SWAN-community/owid-js
[submodule "www/salt-js"]
	path = www/salt-js
	url = https://github.com/SWAN-community/salt-js.git
[submodule "www/prebid"]
	path = www/prebid
	url = https://github.com/openx/Prebid.js.git
[submodule "swan"]
	path = swan
	url = https://github.com/SWAN-community/swan-go.git
[submodule "owid"]
	path = owid
	url = https://github.com/SWAN-community/owid-go.git
[submodule "swift"]
	path = swift
	url = https://github.com/SWAN-community/swift-go.git
[submodule "swanop"]
	path = swanop
	url = https://github.com/SWAN-community/swan-op-go.git
[submodule "salt"]
	path = salt
	url = https://github.com/SWAN-community/salt-go.git
