#salt-grid.row>.col {
    border: 1px solid rgba(86,61,124,.2);
}
#salt-grid.row>.col>img {
    max-width: 100%;
}
#salt-grid.row {
    background-color: transparent;

    transition: background-color 0.5s linear; 
    -moz-transition: background-color 0.5s linear;  
    -webkit-transition: background-color 0.5s linear; 
    -ms-transition: background-color 0.5s linear; 
}
#salt-grid.row.complete {
    background-color: green;
}
.top-left, .top-right, .bottom-left, .bottom-right {
    position: absolute;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: 2em;
}
.top-left {
    top: 0px;
    left: 1em;
}
.top-right {
    top: 0px;
    right: 1em;
}
.bottom-left {
    bottom: 0px;
    left: 1em;
}
.bottom-right {
    bottom: 0px;
    right: 1em;
}